/**
  HACKAFOU GLORIOUS THEME
  Base styles

body
  font-family: 'book', sans-serif

$navbar_height: 120px
$wordpress_toolbar_height: 32px
$footer_height: 180px
#navbar
  height: $navbar_height !important
  padding: 4px 0

.navbar.navbar-default
  border: 0

#content
  min-height: calc(100vh - #{$navbar_height} - #{$footer_height})
.logged-in #content
  min-height: calc(100vh - #{$navbar_height} - #{$wordpress_toolbar_height} - #{$footer_height})

#secondary
  position: relative

#colophon
  background-color: $grey
  height: $footer_height
  font-family: 'book', sans-serif
  .text
    color: white
    font-size: 1.25em
  .icon
    text-align: center
    font-size: 3em
  .fa-map-marker
    color: #2cab86
  .fa-envelope
    color: #ffb500
  .fa-recycle
    color: #d35f5f
  .fa-cc
    color: #5f8dd3
