// MIXINS

// Link colors

=link_color($color_regular, $color_hovered, $t:.2s)
  +transition(color #{$t} ease)
  &:link, &:visited
    color: $color_regular
  &:hover
    color: $color_hovered
  &:active
    color: $color_regular

=link_colors($color_regular, $color_hovered, $t: .2s)
  a
    +link_color($color_regular, $color_hovered, $t:.2s)
