// Common page styles

.entry-title
  font-family: 'extrabold'
  font-size: 3em
  color: $grey

.entry-content
  font-family: 'book'
  color: $grey
  font-size: 1.2em !important

.page-header
  border: 0 !important
