// Fixed helpers in the sidebar

.sidebar-helper
  position: relative
  color: $green
  border: 1px solid #ddd
  font-family: 'book'
  max-width: 300px
  margin: 40px 0 0
  padding: 0
  ul, li
    margin: 0
    padding: 0
  li
    padding: 0 30px
    list-style: none
    line-height: 40px
    cursor: pointer
  li:not(:last-child)
    border-bottom: 1px solid #ddd
  li.active
    font-family: 'extrabold'
  &.fixed
    position: fixed
    top: 40px
