/**
 * HACKAFOU GLORIOUS THEME */
@font-face {
  font-family: "light";
  src: url("../fonts/firasans-light.eot?") format("eot"), url("../fonts/firasans-light.woff") format("woff"), url("../fonts/firasans-light.ttf") format("truetype"); }
@font-face {
  font-family: "book";
  src: url("../fonts/firasans-book.eot?") format("eot"), url("../fonts/firasans-book.woff") format("woff"), url("../fonts/firasans-book.ttf") format("truetype"); }
@font-face {
  font-family: "bold";
  src: url("../fonts/firasans-bold.eot?") format("eot"), url("../fonts/firasans-bold.woff") format("woff"), url("../fonts/firasans-bold.ttf") format("truetype"); }
@font-face {
  font-family: "extrabold";
  src: url("../fonts/firasans-extrabold.eot?") format("eot"), url("../fonts/firasans-extrabold.woff") format("woff"), url("../fonts/firasans-extrabold.ttf") format("truetype"); }
/**
 * HACKAFOU GLORIOUS THEME
 * Base styles */
/* line 5, ../sass/_base.sass */
body {
  font-family: "book", sans-serif; }

/* line 11, ../sass/_base.sass */
#navbar {
  height: 120px !important;
  padding: 4px 0; }

/* line 15, ../sass/_base.sass */
.navbar.navbar-default {
  border: 0; }

/* line 18, ../sass/_base.sass */
#content {
  min-height: calc(100vh - 120px - 180px); }

/* line 20, ../sass/_base.sass */
.logged-in #content {
  min-height: calc(100vh - 120px - 32px - 180px); }

/* line 23, ../sass/_base.sass */
#secondary {
  position: relative; }

/* line 26, ../sass/_base.sass */
#colophon {
  background-color: #4d4d4d;
  height: 180px;
  font-family: "book", sans-serif; }
  /* line 30, ../sass/_base.sass */
  #colophon .text {
    color: white;
    font-size: 1.25em; }
  /* line 33, ../sass/_base.sass */
  #colophon .icon {
    text-align: center;
    font-size: 3em; }
  /* line 36, ../sass/_base.sass */
  #colophon .fa-map-marker {
    color: #2cab86; }
  /* line 38, ../sass/_base.sass */
  #colophon .fa-envelope {
    color: #ffb500; }
  /* line 40, ../sass/_base.sass */
  #colophon .fa-recycle {
    color: #d35f5f; }
  /* line 42, ../sass/_base.sass */
  #colophon .fa-cc {
    color: #5f8dd3; }

/* line 3, ../sass/blocks/_logo.sass */
#logo {
  width: 300px; }

/* line 3, ../sass/blocks/_main-menu.sass */
#menu-primary-menu {
  font-size: 1.2em;
  font-family: "book"; }
  /* line 15, ../sass/_mixins.sass */
  #menu-primary-menu a {
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    /* line 7, ../sass/_mixins.sass */
    #menu-primary-menu a:link, #menu-primary-menu a:visited {
      color: #4d4d4d; }
    /* line 9, ../sass/_mixins.sass */
    #menu-primary-menu a:hover {
      color: #2cab86; }
    /* line 11, ../sass/_mixins.sass */
    #menu-primary-menu a:active {
      color: #4d4d4d; }

/* line 8, ../sass/blocks/_main-menu.sass */
#menu-primary-menu > .active > a {
  background: transparent;
  font-family: "bold"; }

/* line 3, ../sass/blocks/_page.sass */
.entry-title {
  font-family: "extrabold";
  font-size: 3em;
  color: #4d4d4d; }

/* line 8, ../sass/blocks/_page.sass */
.entry-content {
  font-family: "book";
  color: #4d4d4d;
  font-size: 1.2em !important; }

/* line 13, ../sass/blocks/_page.sass */
.page-header {
  border: 0 !important; }

/* line 2, ../sass/blocks/_project-view.sass */
.projects-view__items {
  margin: 0;
  padding: 0; }

/* line 5, ../sass/blocks/_project-view.sass */
.project--short {
  list-style: none;
  padding: 20px; }
  /* line 8, ../sass/blocks/_project-view.sass */
  .project--short:hover {
    outline: 1px solid #4d4d4d;
    cursor: pointer; }

/* line 3, ../sass/blocks/_sidebar-helper.sass */
.sidebar-helper {
  position: relative;
  color: #2cab86;
  border: 1px solid #ddd;
  font-family: "book";
  max-width: 300px;
  margin: 40px 0 0;
  padding: 0; }
  /* line 11, ../sass/blocks/_sidebar-helper.sass */
  .sidebar-helper ul, .sidebar-helper li {
    margin: 0;
    padding: 0; }
  /* line 14, ../sass/blocks/_sidebar-helper.sass */
  .sidebar-helper li {
    padding: 0 30px;
    list-style: none;
    line-height: 40px;
    cursor: pointer; }
  /* line 19, ../sass/blocks/_sidebar-helper.sass */
  .sidebar-helper li:not(:last-child) {
    border-bottom: 1px solid #ddd; }
  /* line 21, ../sass/blocks/_sidebar-helper.sass */
  .sidebar-helper li.active {
    font-family: "extrabold"; }
  /* line 23, ../sass/blocks/_sidebar-helper.sass */
  .sidebar-helper.fixed {
    position: fixed;
    top: 40px; }
